@media only screen and (max-width: 960px) {


    /* header */
    

.header .menu {
    visibility: hidden;
    opacity: 0;
    margin: 20px 10px;
    text-align: right;
    transform: translateX(50px);
    transition: .5s;
}

.header li:nth-child(2){
    margin: 0 40px;
}


    /* ----------section1---------- */

    /* #section1 .title h1 {
        font-weight: 100;
        font-size: 2.2em;
        line-height: 1.4em;
        text-align: center;
    } */

    #section1 .title {
        display: inline-block;
        padding: 20px;
        z-index: 99;
        background-color: rgb(255, 255, 255, .6);
        text-align: center;
    }

    .blob {
        position: absolute;
        width: 400px;
        height: 400px;
        z-index: 9;
    }



    #section1 .title h1 span {
        font-size: 1.2em;
        font-weight: 700;
    }



    /* ----------section2---------- */
    #section2 .article .pofol_G {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #section2 .article .pofol_G .pofolImg {
        flex: 1 1 0;
        padding: 0 20px;
        width: 100%;
    }

    #section2 .article .pofol_G .pofolText {
        flex: 1 1 0;
        padding: 20px;
        align-self: baseline;
    }

    #section2 .article .pofol_G .pofolText h3 {
        letter-spacing: 1px;
        font-size: 24px;
        margin-top: 0;
    }

    #section2 .article .pofol_G .pofolText h3 span {
        font-weight: 100;
        font-size: 16px;
        color: var(--second-color)
    }

    #section2 .article .pofol_G .pofolText li::marker {
        color: var(--point-color);
    }

    #section2 .article .pofol_G .pofolText li {
        font-size: 16px;
    }

    .sec2_title h2 {
        color: var(--point-color);
        letter-spacing: 2px;
        font-size: 80px;
        text-align: left;
        z-index: 999;
        margin: 150px 0 0 0;
        padding-left: 50px;
    }

    /* ----------section2---------- */

    #section3 .article .iconG {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 40px;
    }

    #section3 .article .iconG .iconG_L {
        display: flex;
        padding-right: 0px;
        justify-content: center;
    }

    #section3 .article .iconG .iconG_R {
        display: flex;
        padding-left: 0px;
        padding-top: 40px;
        justify-content: center;
    }

    #section3 .article .iconG .icon {
        position: relative;
        width: 75px;
        height: 75px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgb(201, 201, 201);
        cursor: pointer;
        margin: 0 10px;
        transition: all .3s;
    }

    

}