@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --main-color: #2E2E2E;
    --second-color: #7B7B7B;
    --point-color: #FF8A00;
}

body {
    font-family: 'Pretendard-Regular';
    margin: 0;
    padding: 0;
    color: var(--main-color);
}

a {
    text-decoration: none;
    box-sizing: border-box; 

}

ul{
  padding-left:20px;
}

li::marker {
    color: var(--point-color);
}

/* ----------section1---------- */

#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    letter-spacing: 1px;
    line-height: 50px;
}

#section1 .title {
    padding: 20px;
}

#section1 .title h1 {
    font-weight: 100;
    font-size: 3em;
    line-height: 1.4em;
}

.blob {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: -9;
}



#section1 .title h1 span {
    font-size: 1.2em;
    font-weight: 700;
}

#section1 .scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 20px;
    transition: .4s;
}

#section1 .scroll p{
    margin: 0;
    padding: 0;
    height: 40px;
    color: var(--second-color);
}

#section1 .scroll img{
    width: 20px;
    height: 8px;
    opacity: 1;
}

#section1 .scroll img:nth-last-child(1){
    animation: arrow 2s ease infinite;
    animation-delay: .2s;
}

#section1 .scroll img:nth-last-child(2){
    animation: arrow 2s ease infinite;
    animation-delay: .1s;
}

#section1 .scroll img:nth-last-child(3){
    animation: arrow 2s ease infinite;
}

@keyframes arrow {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* ---------------------------- */



/* ----------section2---------- */

#section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 200px;
}

h2 {
    color: var(--point-color);
    letter-spacing: 2px;
    font-size: 30px;
    text-align: center;
}

#section2 .article {
    padding: 80px 0;
    width: 90%;
    opacity: 0;
    transition: all 1s;
    transform: translateY(100px);
    border-bottom: 1px solid #dbdbdb;
}

#section2 .article p {
    letter-spacing: 1px;
    font-size: 14px;
    color: var(--second-color);
    padding: 0 0 20px 0;
}

#section2 .article .pofol_G .pofolImg {
    flex: 1.5 1 0;
    padding: 0 20px;
    position: relative;
}

#section2 .article:not(:nth-child(4)) .pofol_G .pofolImg a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: .2s;
}

#section2 .article:not(:nth-child(4)) .pofol_G .pofolImg a:hover::after {
    background-color: rgb(255, 255, 255, .9);
}

#section2 .article .pofol_G .pofolImg p {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FF8A00;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0;
    transition: 1s;
    z-index: 99;
}


#section2 .article:not(:nth-child(4)) .pofol_G .pofolImg:hover p {
    display: block;
    opacity: 1;
}


#section2 .article .pofolImg img {
    width: 100%;
}

#section2 .article .pofolImg video {
    width: 100%;
}

#section2 .article .pofol_G {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

#section2 .article .pofol_G .pofolText {
    flex: 1 1 0;
    padding: 0 20px;
}

#section2 .article .pofol_G .pofolText ul{
    margin-top: 30px;
    margin-bottom: 0;
}

#section2 .article .pofol_G .pofolText h3{
    letter-spacing: 1px;
    font-size: 24px;
    margin-top: 0;
}

#section2 .article .pofol_G .pofolText h3 span{
    font-weight: 100;
    font-size: 16px;
    color: var(--second-color)
}



#section2 .article .pofol_G .pofolText li {
    font-size: 16px;
}

#section2 .article .pofol_G .pofolText li p {
    font-size: 14px;
    font-weight: 100;
    color: var(--second-color);
    line-height: 2.4em;
    margin-bottom: 30px;
    padding: 0;
}

#section2 .article .pofol_G .pofolText li:last-child p {
    margin-bottom: 0px;
}

#section2 .article3 a {
    border: 2px solid var(--point-color);
    width: 100%;
    display: block;
    margin: 10px 0 20px 0;
    color: var(--point-color);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .2s;
}

#section2 .article3 a:hover {
    background-color: #FF8A00;
    color: white;
}

.bar {
    position: fixed;
    height: 10px;
    background-color: var(--point-color);
    z-index: 99;
}

.header {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 9;
    text-align: right;
}

.header ul {
    margin: 20px 40px;
}

.header li{
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.header li:hover{
    border-bottom: 3px solid #FF8A00;
}


.header li:nth-child(2){
    margin: 0 70px;
}

.up {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../img/up.svg);
    background-repeat:no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: 0;
    transition: .2s;
    visibility: hidden;
    z-index: 999;
}


.up.show {
    visibility: visible;
    opacity: 1;
}


#footer {
    text-align: center;
    padding: 50px;
}

#footer ul{
    padding: 0;
}

#footer li {
    list-style: none;
}

#footer h2 {
    padding-bottom: 30px;
}

#footer p {
    font-size: 14px;
    font-weight: 100;
    color: var(--second-color);
    margin-bottom: 30px;
    letter-spacing: .1em;
    padding: 0;
}

#section3 {
    display: flex;
    justify-content: center;
}

#section3 .article {
    border-bottom: 1px solid #dbdbdb;
    width: 90%;
    padding: 80px 0;
}

#section3 .article .iconG {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

#section3 .article .iconG .iconG_L{
    display: flex;
    padding-right: 20px;
}

#section3 .article .iconG .iconG_R{
    display: flex;
    padding-left: 20px;
}


#section3 .article .iconG .icon {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    cursor: pointer;
    margin: 0 20px;
    transition: all .3s;
}

#section3 .article .iconG .icon h3 {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s;
    opacity: 0;
    font-weight: 100;
    color: var(--second-color);
    visibility: hidden;
}

#section3 .article .iconG .iconG_R .icon:last-child h3 {
    bottom: -70px;
    text-align: center;
}

#section3 .article .iconG .icon:first-child
{
    margin-left: 0;
}
#section3 .article .iconG .icon:last-child {
    margin-right: 0;
}


#section3 .article .iconG .icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}