
@media only screen and (max-width: 960px) {

/* ----------section2---------- */
#section2 .article .pofol_G {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section2 .article .pofol_G .pofolImg {
    flex: 1 1 0;
    padding: 0 20px;
    width: 100%;
}

#section2 .article .pofol_G .pofolText {
    flex: 1 1 0;
    padding: 20px;
    align-self: baseline;
}

#section2 .article .pofol_G .pofolText h3{
    letter-spacing: 1px;
    font-size: 24px;
    margin-top: 0;
}

#section2 .article .pofol_G .pofolText h3 span{
    font-weight: 100;
    font-size: 16px;
    color: var(--second-color)
}

#section2 .article .pofol_G .pofolText li::marker {
    color: var(--point-color);
}

#section2 .article .pofol_G .pofolText li {
    font-size: 16px;
}

}