@media only screen and (max-width: 1200px) {


    /* header */
    

.header .menu {
    visibility: hidden;
    opacity: 0;
    font-size: 16px;
    margin: 20px 10px;
    text-align: right;
    transform: translateX(50px);
    transition: .5s;
}

.header li:nth-child(2){
    margin: 0 40px;
}


    /* ----------section1---------- */

    #section1 .title p {
        margin: 0;
        font-weight: 700;
        font-size: 3em;
        line-height: 1.6em;
        word-break: keep-all;
        color: #2E2E2E;
        opacity: 0;
        transform: translateY(50px);
    }

    #section1 .title {
        display: inline-block;
        padding: 20px;
        z-index: 99;
        background-color: rgb(255, 255, 255, .6);
        text-align: center;
    }

    .blob {
        position: absolute;
        width: 400px;
        height: 400px;
        z-index: 9;
    }



    #section1 .title h1 span {
        font-size: 1.2em;
        font-weight: 700;
    }

    /* ----------section2---------- */

    #section2 .myValues {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }
    

    #section2 .myValues .svgTitle {
        height: 94px;
        scale: .6;
    }
    
    #section2 .myValues .value_g {
        position: relative;
        margin: 50px 0;
        width: 400px;
        height: 400px;
        scale: .8;
    }
    
    /* ----------section3---------- */

    #section2 .article {
    padding: 80px 0;
    width: 90%;
    opacity: 0;
    transition: all 1s;
    transform: translateY(100px);
    border-bottom: 1px solid #dbdbdb;
}

#section3 .article:last-child {
    border-bottom: none;
}

#section3 .article p {
    letter-spacing: 1px;
    font-size: 20px;
    color: var(--second-color);
    padding: 0 0 20px 0;
}





#section3 .article .pofol_G {
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

#section3 .article .pofol_G .pofolSlide {
    position: relative;
    display: flex;
    flex: 0;
    overflow: hidden;
    margin-right: 0px;
    padding-bottom: 50px;
    align-items: baseline;
}

#section3 .article .pofol_G .pofolSlide .slide_g{
    display: flex;
    transform: translateX(0px);
    transition: transform .6s ease;
}

/* #section3 .article .pofol_G .pofolSlide .btn {
    position: absolute;
    bottom: 65px;
    width: 20px;
    transition: scale .3s;
    cursor: pointer;
    z-index: 999;
} */

#section3 .article .pofol_G .pofolSlide .btn_g .btn {
    width: 16px;
    top: 42px;
    cursor: pointer;
    z-index: 999;
}


#section3 .article .pofol_G .pofolSlide .preBtn {
    left: 10px;
}


#section3 .article .pofol_G .pofolSlide .nextBtn {
    right: 10px;
}


#section3 .article .pofol_G .pofolSlide .slide {
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
    width: 100%;
}

#section3 .article .pofol_G .pofolSlide .slide img {
    width: 97%;
    object-fit: contain;
}

#section3 .article .pofol_G .pofolSlide .slide p {
    flex: 1 1 0;
    position: absolute;
    bottom: -130px;
    height: 40px;
    width: 70%;
    text-align: center;
}


#section3 .article .pofol_G .pofolText {
    flex: 1 1 0;
    padding-left: 0px;
}

.pofolText ul {
    padding-left: 20px;
}

#section3 .article .pofol_G .pofolText ul {
    margin-top: 30px;
    margin-bottom: 0;
}

#section3 .article .pofol_G .pofolText h3 {
    letter-spacing: 1px;
    font-size: 34px;
    margin-bottom: 10px;
}

#section3 .article .pofol_G .pofolText h3 span {
    font-weight: 100;
    font-size: 20px;
    padding-left: 10px;
    color: var(--second-color)
}



#section3 .article .pofol_G .pofolText li {
    font-size: 20px;

}

#section3 .article .pofol_G .pofolText li p {
    font-weight: 100;
    color: var(--second-color);
    line-height: 2.4em;
    margin-bottom: 30px;
    padding: 0;
}

#section2 .article .pofol_G .pofolText li:last-child p {
    margin-bottom: 0px;
}
/* 
#section3 .article3 a {
    border: 2px solid var(--point-color);
    width: 100%;
    display: block;
    margin: 10px 0 20px 0;
    color: var(--point-color);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .2s;
} */

    /* ----------section4---------- */

    #section4 h2 {
        text-align: center;
        font-size: 30px;
        font-family: 'SBAggroB';
        color: #2E2E2E;
    }

    #section4 .article {
        background: white;
    }
    

    #section4 .article .iconG {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 40px;
    }

    #section4 .article .iconG .iconG_L {
        display: flex;
        padding-right: 0px;
        justify-content: center;
    }

    #section4 .article .iconG .iconG_R {
        display: flex;
        padding-left: 0px;
        padding-top: 40px;
        justify-content: center;
    }

    #section4 .article .iconG .icon {
        position: relative;
        width: 75px;
        height: 75px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgb(201, 201, 201);
        cursor: pointer;
        margin: 0 10px;
        transition: all .3s;
    }

    #section4 .article .Icon3d {
        display: none;
        margin: 100px 0;
    }





    

}